{# src/OC/PlatformBundle/Resources/views/Advert/add.html.twig #}

{% extends "RRUserBundle::layout.html.twig" %}

{% block body %}

    {% if action is defined and action=="add" %}
        <h2>Ajouter un utilisateur</h2>
    {% else %}
        <h2>Modifier un utilisateur</h2>
    {% endif %}

    {{ include("RRUserBundle:User:form.html.twig") }}

    <p>
        Attention : cet utilisateur sera ajouté directement
        sur la page d'accueil après validation du formulaire.
    </p>

{% endblock %}