{# src/OC/PlatformBundle/Resources/views/Advert/delete.html.twig #}

{% extends "RRRestaurantBundle::layout.html.twig" %}

{% block title %}
    Supprimer compte - {{ parent() }}
{% endblock %}

{% block fos_user %}
    <div class="mdl-grid">

        <div class="mdl-layout-spacer"></div>
        <div class="mdl-cell mdl-cell--8-col">
            <div class="mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title mdl-color--red-400">
                    <h4>
                        Etes-vous certain de vouloir supprimer votre compte?
                    </h4>

                </div>


                <div class="mdl-card__actions mdl-card--border">
                    <div class="mdl-grid">
                        <a href="{{ path('fos_user_profile_show') }}" class="mdl-button mdl-js-button mdl-js-ripple-effect">
                            Retour au profil
                        </a>
                        <form action="{{ path('user_delete_account') }}" method="post">

                            {# Ceci va générer le champ CSRF #}
                            {{ form_rest(form) }}



                            <div  class="mdl-grid">
                                <div class="mdl-cell"><h5>Confirmer:</h5></div>
                                <div class="mdl-layout-spacer"></div>
                                <div class="mdl-cell">
                                    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored  mdl-color--red-A400">
                                        <i class="material-icons">&#xE92B;</i>
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
                {% if app.user.roles[0]=="ROLE_PRO"%}
                    <p>Attention toutes les données restaurants que vous possedez ne serons pas supprimées de nos bases de données</p>
                {% endif %}
            </div>
        </div>
        <div class="mdl-layout-spacer"></div>
    </div>






{% endblock %}