{# src/OC/PlatformBundle/Resources/views/layout.html.twig #}

{% extends "::layout.html.twig" %}
{% block title %}
    Resto'Regimes
{% endblock %}

{% block content %}


{% endblock %}
{% block footer %}
    <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
            <div class="mdl-logo">Resto'Regimes</div>
            <ul class="mdl-mini-footer__link-list">
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Mentions légales</a></li>
                <li><a href="#">Conditions génerales d'utilisation</a></li>
            </ul>
        </div>
    </footer>
{% endblock %}

{% block javascript %}
{% endblock %}