{% extends "RRCoreBundle:Default:layout.html.twig" %}
{% block rrplatform_body %}


        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <form  method="post" action="{{ path('rr_core_search') }}">
                        Recherche:  <input type="text" name="recherche" placeholder="recherche"></br><br>

                        <input type="checkbox" id="checkbox1" name="checkboxs" value="vt">
                        <label for="checkbox1">Vegetarien</label>
                        <input type="checkbox" id="checkbox2" name="checkboxs"value="vl">
                        <label for="checkbox2">Vegetalien</label>
                        <input type="checkbox" id="checkbox3" name="checkboxs" value="g">
                        <label for="checkbox3">Sans gluten</label>
                        <input type="checkbox" id="checkbox4" name="checkboxs"value="d">
                        <label for="checkbox4">Diabete</label>
                        <input type="checkbox" id="checkbox5" name="checkboxs" value="c">
                        <label for="checkbox5">Cholesterol</label><br><br>
                        <input type="submit" value="rechercher" name="rechercher">

                    </form>
                </div>

            </div>
        </div>


{% endblock %}
