{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <p>Un mail de confirmation vous a été envoyé à l'adresse {{ user.email }} veuillez y répondre pour activer votre compte.</p>
{% endblock fos_user_content %}