{% extends "FOSUserBundle::layout.html.twig" %}

{% block message %}
    <h5>Inscription pro</h5>
{% endblock %}
{% block fos_user_content %}
    {% include "FOSUserBundle:Registration:register_content_pro.html.twig" %}
{% endblock fos_user_content %}
