a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}
#jumbotron{position: absolute;left:100px; z-index: 0;}
#jumbotron1{position:relative;z-index: 1;}



.mdl-layout__header,
.mdl-layout__drawer-button,
.material-icons{
    /* This background is dark, so we set text to white. Use 87% black instead if
       your background is light. */
    color: #262626;
}

.mdl-layout__header{
    background-color: transparent;
}

.upperIcon{
    fill: #000000;
}
.mdl-layout-title:hover .lowerIcon{

    fill: #76FF03;
}

.lowerIcon{
    fill: #000000;
    transition: fill 1s;
}